<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <extension point="com.change_vision.astah.ui.actionSets">
        <actionSet id="dsk.astah.stereotype.plugin.actionSet">
            <menu
                id="dsk_astah_stereotype"
                label="%menu_group"
                path="edit/dsk_astah_stereotype">
            </menu>
            <action
                id="dsk_astah_stereotype"
                label="%menu_label"
                menubarPath="edit/dsk_astah_stereotype/"
                class="dsk.astah.stereotype.plugin.action.StereoTypeSetterAction"
            >
            </action>
        </actionSet>
    </extension>
</plugin>
